[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinybody"]
	path = shinybody
	url = https://github.com/robert-norberg/shinybody
